@charset "UTF-8";

/* ! Regras Gerais */

@font-face {
    font-family: 'FontAndroid';
    src: url('./fontes/idroid.otf') format('opentype');
}

:root{
    --cor0: #089681;
    --cor1: #00ADAD;
    --cor2: #1691A6;
    --cor3: #00AD79;
    --degrade1: #008080, #087396, #00478F;

    --font-normal: Courier, monospace, Arial, 'Times New Roman';
    --font-h: 'FontAndroid', Arial, 'Times New Roman', Times, serif;
}

* {font-size: 1.21em; font-family: var(--font-normal);}

body, div#menu ul, article p, footer#Criador p {
    margin: auto;
    padding: 0px;
}

/* * Static         */
  /* TODO Box-level */

body {
    background-image: linear-gradient(50deg, var(--degrade1)); 
}

p {text-align: justify; text-indent: 22px; line-height: 1.55em;}

header {
    background-image: linear-gradient(to left, var(--degrade1));
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.586);
}

header h1 {text-align: center;}

header p {
    text-align: center;
    font-size: 57%;
}

main p {font-size: 46%; padding-inline: 10px;}

main aside {
    padding-bottom: 60%; 
    position: relative;
}

article {
    background-color: #6bdcba;
    border-radius: 15px;
    font-size: 40%;
}

article h3 {
    background-color: var(--cor3); 
    border-radius: 15px 15px 0px 0px; 
    font-size: 220%; 
    padding: 12px;
}

article ul {list-style-type: '\2714\00A0'; margin-left: 13%; columns: 2;}

article p {padding: 6px;}

  /* TODO Inline-level */

strong {text-decoration: underline; color: black;}

iframe {position: absolute; top: 5%; left: 5%; width: 90%; height: 90%;}

footer a {color: black;}

img {width: 100%;}

abbr {text-decoration: none;}

/* ! Class */
.FontAndroid {
    font-family: var(--font-h);
    font-size: 90%;
}

/* ! IDs */

div#CorpoPrincipal {
    margin-inline: auto; 
    max-width: 800px;
    min-width: 260px;
    padding: 10px; 
    background-color: white; 
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.729);
}
div#CorpoPrincipal a {
    color: rgb(0, 251, 255); 
    padding: 3px;
    text-decoration: none; 
    font-weight: bolder;
    font-size: 90%; 
    background-image: linear-gradient(10deg, var(--degrade1));
    border-radius: 8px;
}

div#menu {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div#menu ul {list-style: none; display: flex; font-size: 26%; margin-top: 20px;}
div#menu ul li {padding-right: 14px;}
div#menu a {
    padding-left: 7px;
    text-decoration: none;
    color: rgb(226, 226, 226);
    transition-duration: .4s;
}

footer#Criador {background-color: var(--cor0); margin-top: 18px;}
footer#Criador p {padding: 4px; text-align: center; font-size: 50%; color: white;}
footer#Criador a {text-decoration: none; color: rgb(41, 38, 32);}

/* * IDs Animat     */
  /* TODO Inline-level */

footer#Criador a:hover {text-decoration: underline rgb(0, 24, 14);}

div#CorpoPrincipal a:hover {font-style: italic;}
div#CorpoPrincipal a::before {content: '\1F517';}

div#menu a:hover {
    text-decoration: underline #089670;
    font-weight: bolder;
    color: white;
}

/* ! @MEDIA */
@media (max-width: 600px) {
    div#menu a {font-size: small;}
    article ul {margin-left: 25%; columns: 1;}
}
