@charset "UTF-8";

/* ! Regras Gerais */

:root {
    --fontfamily0: 'Morganite LightItalic';
    --fontfamily1: 'Rene Bieder';
    --fontlightitalic: var(--fontfamily0), Arial, sans-serif;
    --fontenormal: var(--fontfamily1), Arial, sans-serif;
}

@font-face {
    font-family: 'Rene Bieder'; /* Nome para a fonte */
    src: url('fonts/Rene-Bieder.otf') format('opentype'); /* Nome do arquivo da fonte e seu formato */
		
		/* Para indicar em qual estilo e formato a fonte vai ter normalmente */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Morganite LightItalic'; /* Nome para a fonte */
    src: url('fonts/Morganite-LightItalic.ttf') format('truetype'); /* Nome do arquivo da fonte e seu formato */
		
		/* Para indicar em qual estilo e formato a fonte vai ter normalmente */
    font-style: italic;
    font-weight: normal;
}

/*-------------------*/

/* * Static         */
   /* TODO Box-level */

  /* TODO Inline-level */

/*-------------------*/

/* * Animat         */
   /* TODO Box-level */

  /* TODO Inline-level */

/*-------------------*/

/* ! IDs */

/*-------------------*/

/* ! Class */

/*-------------------*/